{% extends '__base.html.twig' %}

{% block body %}

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
        Posté le {{ page.post_date | date('d-m-Y') }} par {{ page.author.data.user_nicename }}
    </div>

    <div class="post-content">
        <p>
            {{ page.content | raw }} {# page.post_content works also / use  {{ do_shortcodes(page.content) | raw }} if tou use shortcodes #}
        </p>

        <p>
            {{ formation.title }}
        </p>
        <p>
            {{ formation.author.data.nice_name }}
        </p>
    </div>

{% endblock %}
