<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="{{ bloginfo('template_url') }}/public/build/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}{{ bloginfo('name') }}{% endblock %}
    </title>
    {% block stylesheets %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    {% endblock %}

    {% block og %}
        <meta property="og:title" content="{{ bloginfo('name') }}"/>
        <meta property="og:description"
              content="{{ bloginfo('description') }}"/>
        <meta property="og:image:type" content="image/jpeg"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>
        <meta property="og:image:alt" content="Image description"/>
        <meta property="og:image" content=""/>
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ get_permalink() }}"/>
    {% endblock %}
    {{ header() }}
</head>
<body>
<header id="header">
    {% block navblock %}

    {% endblock %}
</header>

<main>

    {% block body %}
    {% endblock %}

</main>

<footer>
    {% block footer %}

    {% endblock %}
</footer>



{{ footer() }}

{% block javascripts %}
    <script src="{{ asset('runtime.js') }}"></script>
    <script src="{{ asset('app.js') }}"></script>
{% endblock %}
</body>
</html>
